# General
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
*.env

# Jupyter notebooks
.ipynb_checkpoints/

# Logs & debugging
logs/
*.log
debug.log

# IDE/Editor settings
.vscode/
*.swp
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
dist/
build/

# Conda environment
*.conda
envs/
